/*login*/
.login{
  height: 100vh;
  display:flex;
  justify-Content:center;
  align-Items:center;
  background:radial-gradient(circle, #3b71db 0%, #1a4299 100%);
}
.login-card{
  height:600;
  width: 500;
  border-Radius:50px;
  padding:20px;
  background:#f0f2f5;
  box-Shadow:0 20px 50px rgba(0,0,0,0.3);
  border:none;
}
.loginTitle1{
  margin: 0;
  font-Size: '1rem';
  color: '#1a1a1a';
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
}
.loginTitle2{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-Size: 14px; 
  letter-Spacing:0.5px; 
  color: #333;
}
.inputName{
  border-Radius:25px;
  height:55px;
  border:none;
  box-Shadow:inset 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(255,255,255,0.7);
  backgroundColor:#ffffff;
    
            
}
.inputPass{
  border-Radius:25px; 
  height:55px; 
  border:none;
  boxShadow:inset 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(255,255,255,0.7);
  backgroundColor:#ffffff;
    
            
}
.btnSubmit{
  border-Radius:10px;
  padding:0 35px;
  height:40px;
  background-Color:#2b549a;
  font-Size:14px;
  font-Weight:bold;
  box-Shadow:0 4px 10px rgba(43, 84, 154, 0.3);
    
}
